vrrp_script check_haproxy {                 
    script "/home/keepalived_script/vrrp_script" 
    weight 20                              
    interval 1               
}
vrrp_instance nexify {             
    interface ens3
    virtual_router_id 1
    {% if inventory_hostname == 'hejoes-1' %}
    priority 100
    {% else %}
    priority 5
    {% endif %}
    advert_int 1                            
    virtual_ipaddress {
        {% if hostvars['hejoes-2']['ansible_default_ipv4']['address'].split('.')[2] == '43' %}
        192.168.101.{{ hostvars['hejoes-1']['ansible_default_ipv4']['address'].split('.')[-1]  }}/24
        {% else %}
        192.168.100.{{ hostvars['hejoes-1']['ansible_default_ipv4']['address'].split('.')[-1]  }}/24
        {% endif %}                        
    }
    unicast_peer {                          
        {% for vm in groups['app_stack'] %}                    
        {% if inventory_hostname != vm %}
        {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }
    track_script {
        check_haproxy
    }
}