server {
	listen 80 default_server;
	root /var/www/html;
	index index.html index.html;
	server_name _;
	large_client_header_buffers 4 16k;

	error_page 404 /;

	{% if inventory_hostname in groups['agama'] %}
	location / {
		proxy_pass http://localhost:{{ agama_port }};
		proxy_set_header Host $http_host;
	}
	{% endif %}

	{% if inventory_hostname in groups['prometheus'] %}
	location /prometheus {
		proxy_pass http://localhost:9090;
	}
	{% endif %}

	{% if inventory_hostname in groups['grafana'] %}
	location /grafana {
		proxy_set_header Host $http_host;
		proxy_pass http://localhost:{{ grafana_port }};
	}
	{% endif %}

}