server {
	listen 80 default_server;
	root /var/www/html;
	index index.html index.html;
	server_name _;
	large_client_header_buffers 4 16k;
	error_page 404 /;

	{% if inventory_hostname in groups['prometheus'] %}
	location /prometheus {
		proxy_pass http://localhost:9090;
	}
	{% endif %}
	
	{% if inventory_hostname in groups['grafana'] %}
	location /grafana {
		proxy_set_header Host $http_host;
		proxy_pass http://localhost:{{ grafana_port }};
	}
	{% endif %}

	{% if inventory_hostname in groups['app_stack'] %}
	location / {
		proxy_pass http://localhost:{{ agama_ports[0] }};
		proxy_set_header Host $http_host;
	}

	location /haproxy-metrics {
		proxy_pass http://localhost:9101/metrics;
	}

	location /keepalived-metrics {
		proxy_pass http://localhost:9165/metrics;
	}
	{% endif %}
}
server {
	listen 8080 default_server;
	location = /stub_status {
		stub_status;
	}
}
