$TTL	604800
{{domain}}.	IN	SOA	remote1.{{domain}}. henrik.{{domain}}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{{domain}}.	IN	NS	remote1
remote1	IN	A	192.168.42.166
remote2	IN	A	192.168.42.170
